Pillow == 5.1.0
matplotlib == 3.2.0
numpy == 1.19.5
opencv_python == 4.2.0.34
ptflops == 0.6.2
pycocotools == 2.0.2
torch == 1.7.0
torchvision == 0.8.1
tqdm == 4.54.1
train == 0.0.5
xmltodict == 0.12.0
jupyter==1.0.0
torchmetrics==0.2.0
torchsummary==1.5.1
pyyaml==5.3.1
timm==0.5.4
